{% extends "layouts/base.html" %}
{% block page_name %}{{ page_name }}{% endblock %}
{% block page_name_nav %}{{ page_name }}{% endblock %}

{% block page-content %}
	<section class="content">
        <div class="row">
            {% for each_part in all_part %}
            <div class="col-lg-2 col-xs-4">
                <div class="small-box {{ each_part.color }}">
                    <div class="inner">
                        <h4>
                            {{ each_part.name }}
                        </h4>
                        <p>
                            {{ each_part.number }} items
                        </p>
                    </div>
                    <div class="icon">
                        <i class="ion {{ each_part.icon }}"></i>
                    </div>
                    <a href="{{ each_part.url }}" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
	</section>
{% endblock %}

