{% extends "layouts/base.html" %}
{% block page_name %}{{ page_name }}{% endblock %}
{% block page_name_nav %}{{ page_name }}{% endblock %}
{% block page-content %}

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <form name="ManageForm" action="." method="post" role="form">
                                    {% csrf_token %}
                                        <div class="box-body">
                                            {% for field in form.visible_fields %}
	                                            <div class="form-group">
	                                                {{ field.label_tag }}
	                                                {{ field }}
	                                                {{ field.errors }}
	                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="box-footer">
                                            <button type="button" class="btn btn-danger" name="operate" value="delete" onClick="Readydelete()">Delete</button>
                                            <button type="submit" class="btn btn-primary navbar-right" name="operate" value="update">Update</button>
                                        </div>

                                    </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->



{% endblock %}